<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="users.PhpTravels_Test002_Test"/>
      <class name="users.PhpTravels_Test001_Test"/>
      <class name="users.PhpTravels_Test003_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
